.content 
{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px; 
    padding: 10px; 
    background-color: #F4970B; 
    border-radius: 10px;
}
  
  .content div 
  {
    background-color: #FCE0B6;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    font-size: 16px; 
    color: #006633; 
  }

  
  